body{
    margin: 0;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

p{
    font-family: 'Sacramento', cursive;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Porter Sans Block';
    src: url(../assets/Fonts/porter-sans-inline-block-webfont.woff) format("woff");
}

.localFont p{
    font-family: 'Porter Sans Block';
    font-size: 20px;
    color: red;
}

.backgroundImage{
    width: 500px;
    height: 500px;
    text-align: center;
    background-image: url(../assets/images/homeGallery1.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
/*object-fit; cover;*/
.backgroundImage p{
    padding: 5em;
}

.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;

}